<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h3>View Categories</h3> 
                    
                 
                </div>
                
                <form action="/admin/catego/<%= cateDetail.id %>" method="post" >
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" value="<%= cateDetail.name %>" name="name">
                          
                          
                       
                         
                          
                    </div>
                    <button type="submit" class="btn btn-dark">Edit</button>
                 
                   
                  </form>
                  <a href="/admin/categories"><button  class="btn btn-dark">Cancel</button></a> 
                  </div>
        </div>
    </div>
    
  </body>
</html>