<div class="col-lg-3 bg-secondary ">
    <div class="row py-2 border-bottom">
        <h1>AdminLTE</h1>
    </div>
    <ul class="list-unstyled">
      <li class="my-3"><a href="/admin/shop"><i class="bi bi-house-door"></i> Shop Information</a></li>
      <li class="my-4-5"><a href="/admin/contact"><i class="bi bi-newspaper"></i> Contact</a></li>
      <li class="my-4-5"><a href="/admin/social"><i class="bi bi-newspaper"></i> Social</a></li>
      <li class="my-4-5"><a href="/admin/role"><i class="bi bi-person"></i>Role </a></li>
      <li class="my-4-5"><a href="/admin/service"><i class="bi bi-book-half"></i> Service</a></li>
      <li class="my-4-5"><a href="/admin/user"><i class="bi bi-columns-gap"></i> User</a></li>
      <li class="my-4-5"><a href="/admin/comment"><i class="bi bi-house-door"></i>Comments</a></li>
      <li class="my-4-5"><a href="/admin/review"><i class="bi bi-newspaper"></i> Reviews</a></li>
      <li class="my-4-5"><a href="/admin/order"><i class="bi bi-newspaper"></i> Orders</a></li>
      <li class="my-4-5"><a href="/admin/blog"><i class="bi bi-newspaper"></i> Blogs</a></li>
      <li class="my-4-5"><a href="/admin/categories"><i class="bi bi-person-square"></i> Categories</a></li>
      <li class="my-4-5"><a href="/admin/tag"><i class="bi bi-newspaper"></i> Tags</a></li>
      <li class="my-4-5"><a href="/admin/product"><i class="bi bi-columns-gap"></i> Product</a></li>
      <li class="my-4-5"><a href="/admin/img-pro"><i class="bi bi-newspaper"></i> Image Product</a></li>
      <li class="my-4-5"><a href="/admin/user-class"><i class="bi bi-newspaper"></i> Users Clas</a></li>
      <li class="my-4-5"><a href="/admin/discount"><i class="bi bi-newspaper"></i> Discounts</a></li>
      <li class="my-4-5"><a href="/admin/size"><i class="bi bi-newspaper"></i> Size</a></li>
      <li class="my-4-5"><a href="/admin/color"><i class="bi bi-newspaper"></i> Color</a></li>
      <li class="my-4-5"><a href="/admin/endow"><i class="bi bi-newspaper"></i> Maketing Endow</a></li>
      <li class="my-4-5"><a href="/admin/promo"><i class="bi bi-newspaper"></i> Promotion</a></li>
      <li class="my-4-5"><a href="/admin/coupon"><i class="bi bi-newspaper"></i> Coupon</a></li>
      <li class="my-4-5"><a href="/admin/typer"><i class="bi bi-newspaper"></i> Typer</a></li>
    </ul>
</div>