<!doctype html>
<html lang="en">
  <%- include('../../layout/admin/header'); -%>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <%- include('../../layout/admin/sidebar'); -%>
            <div class="col-lg-9  ">
                <div class="row text-center">
                    <h3>Orders</h3> 
                 
                </div>
                
                <form action="/admin/createod" method="post">
                  <div class="form-group">
                     
                    
                    <label for="userid">Userid:</label>
                      <select type="text" class="form-control" value="" name="userid">
                        <% for(var i=0; i< userid.length;i++){%>
                           <option VALUE="<%=userid[i].id %>"><%=userid[i].id %></option>
                       <%}%>
                         </select>
                    
                   
                      
                      
                      
                      
                    </div>
                  <button type="submit" class="btn btn-dark">Create</button>
                </form>
                 
            </div>
        </div>
    </div>
    
  </body>
</html>